name: Publish

on:
  push:
    tags: ['v*']

jobs:
  publish:
    name: Publish to pub.dev

    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      # This step adds the auth token for pub.dev
      - name: Set up Dart
        uses: dart-lang/setup-dart@v1
        with:
          sdk: 3.2

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.16.x

      - name: Publish and release
        uses: leancodepl/mobile-tools/.github/actions/pub-release@pub-release-v1
