name: Test

on:
  push:
    branches: [main]
    ignore-tags: ['v*']
  pull_request:
    branches: [main]

jobs:
  test:
    name: Analyze and test

    strategy:
      fail-fast: false
      matrix:
        flutter: ['2.0.3']

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Flutter
        uses: subosito/flutter-action@v1
        with:
          flutter-version: ${{ matrix.flutter }}

      - name: Flutter version
        run: flutter --version

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze
        run: flutter analyze --fatal-infos

      - name: Test
        run: flutter test
